<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <title>Home Page - Backend1</title>
</head>
<body>
    <nav>
        <header>Backend1</header>
        <a href="/">Home</a>
    </nav>
    <main>
        <h1>Calc Service Demonstration</h1>
        <ul>
            <li><a href="/Math/UsingModel">Using Model Calc</a></li>
            <li><a href="/Math/UsingViewData">Using ViewData Calc</a></li>
            <li><a href="/Math/UsingViewBag">Using ViewBag Calc</a></li>
            <li><a href="/Math/UsingService">Using Service Injection Calc</a></li>
        </ul>
    </main>
    <footer>©2024 - Backend1</footer>
</body>
</html>
